# VS 캐시
.vs/
ipch/
*.VC.db
*.VC.opendb
*.opendb

# 빌드 산출물(폴더/파일)
[Bb]in/
[Oo]bj/
*.obj
*.pdb
*.ipdb
*.iobj
*.ilk
*.dll
*.exe
*.sys
*.exp

# NuGet/SDK/WDK (복원 가능)
packages/
*.nupkg
*.snupkg

# 로그/임시
[Ll]og/
[Ll]ogs/
*.log
*.tlog
*.tmp
*.cache

